.GamePage {
  width: 100%;
  background-image: linear-gradient(#100446, #374db1, rgb(82, 159, 231));
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 10px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200vw; //Making scroll possible
  //Aligning
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  * {
    align: auto;
  }
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--background {
  -webkit-transform: translateZ(-10px) scale(2.05) rotate(180deg)
    translate3d(0, 0, 0);
  transform: translateZ(-10px) scale(2.05) rotate(180deg) translate3d(0, 0, 0);
  background: #100446;
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
}
.parallax__layer--background2 {
  -webkit-transform: translateZ(-9px) scale(1.95);
  transform: translateZ(-9px) scale(1.95);
  background-image: linear-gradient(#10044600, #100446b7, #0d2163ef);
}

.parallax__layer--layer1 {
  -webkit-transform: translateZ(-2px) scale(1.2);
  transform: translateZ(-2px) scale(1.2);
}

/* Doesn't work without this!!! */

.quote {
  height: 30vh;
  width: 50vw;
  margin-top: 30vw;
  font-size: 4vw;
  color: white;
  text-align: center;
}

.quoteFrame {
  height: 30vw;
  width: 50vw;
  border: 1vw white solid;
  box-shadow: 0px 0px 20px 0px white;
  margin-top: 33vw;
  color: #10044600;
}

h1 {
  margin-top: 50%;
}
